---
import HTMLBoilerPlateCode from "../layouts/HTMLBoilerPlateCode.astro"
---
<HTMLBoilerPlateCode>

	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/blog/">Blog</a>
	
	<h1>Your Blog for every Tech News</h1>
	<h2>Google I/O Web Keynotes</h2>

	<p><b>Enhanced UI and CSS Capabilities:</b></p>
	<ul>

<li><strong>Easier Carousels with CSS:</strong> Chrome 135 introduces new CSS primitives like styleable fragmentation, scroll marker elements, and scroll buttons, making it significantly easier to build interactive and accessible carousels with minimal JavaScript. Pinterest, for example, saw a 90% reduction in code by adopting this.</li>
<br>
<li><strong>Declarative Popovers with Interest Invoker API:</strong> The experimental Interest Invoker API (available as an origin trial) allows developers to declaratively toggle popovers when user interest is active for a short duration. When combined with the Anchor Positioning API and Popover API, this enables the creation of complex, responsive UI elements like tooltips and hover cards without JavaScript.</li>
	</ul>

	<h2>Building in Public</h2>
	<ul>
		<li><a href="/posts/post-1/">Post 1</a></li>
		<li><a href="/posts/post-2/">Post 2</a></li>
		<li><a href="/posts/post-3/">Post 3</a></li>
	</ul>
</HTMLBoilerPlateCode>
