---
import HTMLBoilerPlateCode from "../layouts/HTMLBoilerPlateCode.astro"
---
<HTMLBoilerPlateCode>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>New Blog App</h1>
</HTMLBoilerPlateCode>
